extends layout

block content
  script(src='/javascripts/notifications.js')
  script(src='/javascripts/textreply.js')
  script(src='/javascripts/graphfarmer.js')
  script(src="/javascripts/chart.js")

  div( id='wrapper' )
    div( id="sidebar-wrapper")
      ul.sidebar-nav(id="listOfFarmers")
          li.sidebar-brand
            a( id='recent-notifications', href='#' ) Recent Notifications     

    div( id='page-content-wrapper' )
        div.container-fluid
            div.row
                div.col-lg-12( id='conversationContainer' )

                  canvas#canvasFarmer(height='200',width='500', onclick='addFarmerPoint()')

