extends layout

block content

  div( id='wrapper' )
    div( id="sidebar-wrapper")
      ul.sidebar-nav(id="listOfFarmers")
          li.sidebar-brand
            a( id='recent-notifications', href='#' ) Recent Notifications
           
    div( id='page-content-wrapper' )
        div.container-fluid
            div.row
                div.col-lg-12( id='conversationContainer' )
                    div
                      canvas#canvasSms(height='150', width='400')
 


  script(src='/javascripts/notifications.js')
  script(src='/javascripts/textreply.js')