extends layout

block content

  h1.mainTitle Welcome to Hive
  p(id="strapline") Providing Valuable Insight to Rural Businesses in Developing Countries
  img(src="/images/BlackLogo2.png", id="mainLogo")

 






     

