extends layout

block content

    div(style='background-image: url(/images/honeyback1.jpg); height: 100%; width: 100%; position: absolute;top:0; left:0; background-repeat: no-repeat; background-size: cover;') 
        p 
        p
            br
            br
            br
            br
            br
        h1.mainTitle Welcome to Hive
        p
            br
        p(id="strapline") Providing Valuable Insight to Rural Businesses in Developing Countries
 






     

