extends layout

block content

  div( id='wrapper' )
    div( id="sidebar-wrapper")
      ul.sidebar-nav
          li.sidebar-brand
            a( id='recent-notifications', href='#' ) Recent Notifications
          li
            a( id='farmer1', href='#' ) Farmer 1
          li
            a( id='farmer2', href='#' ) Farmer 2
          li
            a( id='farmer3', href='#' ) Farmer 3
    div( id='page-content-wrapper' )
        div.container-fluid
            div.row
                div.col-lg-12( id='conversationContainer' )
                    p( id='headerP' ) Most recent message at the top
 

  //- div( id='wrapper' )
  //-   div( id='sidebar-wrapper' )
  //-       ul.sidebar-nav
  //-           li.sidebar-brand
  //-             a( id='recent-notifications', href='#' ) Recent Notifications
  //-           li
  //-             a( id='farmer1', href='#' ) Farmer 1
  //-           li
  //-             a( id='farmer2', href='#' ) Farmer 2
  //-           li
  //-             a( id='farmer3', href='#' ) Farmer 3
  //-   div( id='page-content-wrapper' )
  //-       div.page-content
  //-           div.container
  //-               div.row
  //-                   div.col-md-12( id='conversationContainer' )
  //-                     p( id='hello' ) Hello

  script(src='/javascripts/notifications.js')
  script(src='/javascripts/textreply.js')
