extends layout

block content

  div( id='wrapper' )
    div( id='sidebar-wrapper' )
        ul.sidebar-nav
            li.sidebar-brand
              a( id='recent-notifications', href='#' ) Recent Notifications
            li
              a( id='farmer1', href='#' ) Farmer 1
            li
              a( id='farmer2', href='#' ) Farmer 2
            li
              a( id='farmer3', href='#' ) Farmer 3
    div( id='page-content-wrapper' )
        div.page-content
            div.container
                div.row
                    div.col-md-12
                      p Hello


  //- div.container-fluid
  //-   div.row-fluid
  //-     div.sidebar-nav.sidebar-fixed-left
  //-       ul.sidebar-nav
  //-         //.nav.nav-list
  //-         li
  //-           a(href='#') Farmer 1
  //-         li
  //-           a(href='#') Farmer 2
  //-         li
  //-           a(href='#') Farmer 3
                    


  //- body
  //-   div( id='sidebar-wrapper' )
  //-     ul.sidebar-nav
  //-       li: a(href="#") Dashboard
  //-       li: a(href="#") Shortcuts

  //div.col-xs-6( style='background-color:red' )
    //p Farmer 1

  //div.col-xs-6( style='background-color:blue' )
    //p Farmer 1
