body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#wrapper {
	padding-left:312px;
	position:relative;
}

#farmerList {
	margin:0 0 30px 0;
}
	#farmerList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#farmerList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#farmerList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#farmerList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#farmerInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#farmerInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

#logoTab {
	padding:2.5%;
}

#navTab {
	padding-left:40px;
}

#navBar {
}

fieldset {
	border:0;
	padding:0; margin:0;
}